<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Speak</title>
    <!-- Foundation CSS CDN-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css"
        crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
    <div>
        <header>
            <h1>
                <a class="custom-title" href="/">Team Speak</a>
            </h1>
            <nav>
                <ul>
                    <li>Your News</li>
                    <li>Signup/Login</li>
                    <li>Logout</li>
                </ul>
            </nav>
        </header>
        <div class="custom-hero">
            <h2>Hey, Friend.</h2>
            <h3>Catchy tagline goes here</h3>
        </div>
        <main>
            {{{ body }}}
        </main>
        <footer>
            &copy; Team Speak 2022
        </footer>
    </div>
</body>

</html>