<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Speak</title>
    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!-- Foundation CSS CDN-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css"
        crossorigin="anonymous">
    {{!-- Font awesome CDN --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Google Fonts (Rubik 300, 400, 600) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">

</head>

</header>

<body class="home home-container">
    <div class="">
        <header class="custom-header">
            <h1>
                <a class="custom-title" href="/"><span class="logo-bracket">[</span> TS <span
                        class="logo-bracket">]</span></a>
            </h1>
            <ul class="nav menu">
                {{#if loggedIn}}
                <li><a href="/teamDashboard" class="user-team-btn">Your Team</a></li>
                <li><a href="/userDashboard" class="user-news-btn">Your News</a></li>
                <li><a href="/logout" class="logout-btn" id="logout-btn">Logout</a></li>
                {{else}}
                <li><a href="/register" class="register-btn">Register Company</a></li>
                <li><a href="/signup" class="sign-up-btn">Sign Up</a></li>
                <li><a href="/login" class="login-btn">Login</a></li>
                {{/if}}
            </ul>
        </header>

        <main>
            {{{ body }}}
        </main>
    </div>
    <footer class="footer">
        <div class="footer-bar"></div>
        <p>&copy; TeamSpeak 2022</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" crossorigin="anonymous">
    </script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>
<script src="/js/logout.js"></script>