<div class="page-title">
    <div class="bar-wrap">
        <h2>Hello</h2>
        <p>Thank you for registering with TeamSpeak!</p>
        <br>
        <p>Send your team this <a href="/signup">link</a> to sign up!</p>
        <div class="top-bar"></div>
    </div>
</div>