<div class="landing-container">


    <!-- height: 100%;-->
    <div class="custom-hero">
        <h2>Hey, Friend.</h2>
        <h3>Catchy tagline goes here</h3>
    </div>

    <!--Zig Zag info section? -->

    <div class="feature-news">
        <div class="article">{{article.article.short_description}}</div>
        {{!-- <div class="article">{{{article.2}}}</div>
        <div class="article">{{{article.3}}}</div> --}}
    </div>


    <div>
        <a class="button primary" href="/signup">SignUp/Login</a>
    </div>
</div>
