<div class="landing-container landing">

    <div class="custom-hero">
        <h2>TeamSpeak is your Team's digital cohesion location!   </h2>
        <p>Chat about current events with your Team<p>
            {{!-- screen shot of article with post? --}}
    </div>

    <div>
        <h2>Build a cohesive Team!</h2>
        <p>We've seen how forced team building creates diversion amongst Teams<p>
        {{!-- cheesy photo of --}}
    </div>

    <div>
        <h2>Speak about what you want!</h2>
        <p>Introduce your Team to topics meaningful to you.<p>
        {{!-- cheesy photo  --}}
    </div>

    <div>
        <a class="button primary" href="/signup">SignUp/Login</a>
    </div>
</div>