<div class="landing-container landing">
    <div class="hero-container">

        <div class="media-object stack-for-small">
            <div class="media-object-section">
                <div class="">
                    <img src="/images/heroImage-unsplash-mario-gogh.jpg" class="hero-img">
                </div>
            </div>
            <div class="sub-container">
                <div class="media-object-section">
                    <h4>TeamSpeak is your Team's digital cohesion location!</h4>
                    <p>Chat about current events with your Team</p>
                    <a class="form-btn">Join the conversation!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="info-container">
        <div class="media-object stack-for-small">
            <div class="sub-container">
                <div class="media-object-section">
                    <h4>Build a cohesive Team!</h4>
                    <p>We've seen how forced team building creates diversion amongst Teams</p>
                </div>
            </div>
            <div class="media-object-section">
                <div class="">
                    <img src="/images/heroImage-unsplash-mario-gogh.jpg" class="hero-img">
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2>Speak about what you want!</h2>
        <p>Introduce your Team to topics meaningful to you.
        <p>
            {{!-- cheesy photo --}}
    </div>

    <div>
        <a class="button primary" href="/signup">SignUp/Login</a>
    </div>
</div>