<div class="row">
    <div class="col-md-6">
        <div class="card login-form" id="logout-pg-card">
            <div class="card-divider login-title">
                <h2>Thanks for Speaking today!</h2>
            </div>
            <div class="logout-card-section grid-x grid-padding-x align-center">
                <div class="img-container">
                    <img class="logout-page-img" src="/images/logoutPage-unsplash-bacila-vlad.jpg">
                </div>
                <div class="logout-pg-text">
                    <h4>Sorry that you're leaving, but we know you'll be back.</h4>
                    <h4>See you soon!</h4>
                    <h5><i class="fa-regular fa-heart"></i>, The team at TeamSpeak</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/logout.js"></script>