<div class="row">
    <div class="col-md-6">
        <div class="card login-form">
            <div class="card-divider login-title">
                <h2>Thanks for Speaking today!</h2>
            </div>
            <img src="assets/img/generic/rectangle-1.jpg">
            <div class="card-section">
                <p>Have a solid day! TeamSpeak</p>
            </div>
        </div>
    </div>
</div>
<script src="./js/logout.js"></script>