<div class="row">
    <div class="col-md-6">
        <div class="card" style="width: 300px;">
            <div class="card-divider">
                Thanks for Speaking today!
            </div>
            <img src="assets/img/generic/rectangle-1.jpg">
            <div class="card-section">
                <p>Have a solid day! TeamSpeak</p>
            </div>
        </div>
    </div>
</div>
<script src="./js/logout.js"></script>