<form>
  <div>
    <h3>Register your Company</h3>
  </div>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label for="company-name-signup">What is the name of your Company?
          <input type="text" placeholder=".medium-6.cell" class="form-input" id="company-name-signup" required>
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="company-team-signup" id="team-list">What is the name of a team at your company?
          <input type="text" placeholder="Team Name" class="form-input company-team-signup" required>
        </label>
      </div>
      <a href="" class="add-team-button">Add a Team</a>
      <button class="submit success button" id="company-signup-button">Finish Registering!</button>
    </div>
  </div>
</form>

<script src="/js/adminSignUp.js"></script>
<script src="/js/teamList.js"></script>