<form class="card login-form">
  <div class="card-divider login-title">
    <h2 class="login-title">Register your Company</h2>
  </div>
  <div class="grid-container card-section">
    <div class="grid-x grid-padding-x grid-margin-x small-up1 medium-up-2 large-up-2">
      <div class="medium-6 cell">
        <label for="company-name-signup">What is the name of your Company?
          <input type="text" placeholder="Company Name" class="form-input" id="company-name-signup" required>
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="company-team-signup" id="team-list">What is the name of a team at your company?
          <input type="text" placeholder="Team Name" class="form-input company-team-signup" required>
        </label>
      </div>
      <div class="login-signup-buttons card-section grid-x grid-padding-x align-center">
      <div class="login-btn-container">
      <button class="form-btn" id="company-signup-button">Finish Registering!</button>
      <a href="" class="add-team-button form-link">Add a Team</a>
      </div>
      </div>
    </div>
  </div>
</form>

<script src="/js/adminSignUp.js"></script>
<script src="/js/teamList.js"></script>