<form class="card">

  <div class="card-divider signup-page-title">
    <h2>Signup Below!</h2>
    <a href="/register">
      <p>Registering a Company?</p>
    </a>
  </div>

  <div class="grid-container card-section">
    <div class="grid-x grid-padding-x medium-up-1 large-up-2 small-up-1">
      <div class="small-9 cell">
        <label for="user-company">What is the name of the company you work at?
          <input type="text" placeholder="Company Name" class="form-input" id="user-company" required>
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="user-team"> What is the name of the team you are part of at your company?
          <input type="text" placeholder="Your Team" class="form-input" id="user-team" required>
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="email-signup">Create your Email
          <input type="email" placeholder="Your Email" class="form-input" id="email-signup" required>
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="username-signup">Create your Username
          <input type="text" placeholder="Your Username" class="form-input" id="username-signup" required>
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="password-signup">Create your Password
          <input type="password" placeholder="Your Password" class="form-input" id="password-signup" required>
        </label>
      </div>
      <div class="card-section signup-page-buttons">
      <button class="submit success button" id="signup-button">Signup!</button>
      <a href="/login">Already have an account? Log in here!</a>
      </div>
    </div>
</form>

<script src="/js/userSignUp.js"></script>