<div class="feature-news">
        <div class="article">{{article.article.short_description}}</div>
        {{!-- <div class="article">{{{article.2}}}</div>
        <div class="article">{{{article.3}}}</div> --}}
    </div>
